*{
    color: #96D0FF;
}
body{
    /* background-color: #C6FFDD; */
    background-color: aliceblue;
}
li{
      color: #F4C7EE;
}
a{
    text-decoration: none;
}
input{
    border:1px solid #F4C7EE;
    background-color:white;
}